<script id="create-template" type="text/x-handlebars-template">
    <div class="tab-pane active show">
        <div class="row">
            <div class="col-md-5">

            </div>
        </div>
    </div>
</script>