@php
    use yii\helpers\Url;


@endphp
@yield('pre_page')
@if (!isset($flash) || $flash !== false)
    {!! $view->render("@backend/views/parts/FlashMessage.blade") !!}
@endif
@yield('content')
@yield('js_template')
@yield('pos_page')
