<script>
    const USER_LOGIN_ID = '{!! \Yii::$app->user->getId() !!}';
    let AJAX_PATH = {
        uploadURL: '/ajax/upload-file',
        removeFile: '/ajax/remove-file',
        contactImport: '/ajax-import/contact',
        assignPhone : '/ajax/assign-phone',
        getListProduct : '/ajax/get-list-product',
        getProductInfo : '/ajax/info-product'
    }
</script>