<div class="row">
    <div class="col-12">
        @foreach(Yii::$app->session->getAllFlashes() as $key => $messages)
            <div class="alert alert-{{$key}}">
                <ul>
                    @foreach($messages as $message)
                        <li>{{$message}}</li>
                    @endforeach
                </ul>
            </div>
        @endforeach
    </div>
</div>