<?php
use common\helper\Helper;
?>
<script id="financial-overview-template" type="text/x-handlebars-template">
    <div class="col">
        <p>Tỉ lệ C11/C8</p>
        <h4>@{{ C11_C8 }}%</h4>
    </div>
    <div class="col">
        <p>Tỉ lệ C13/C11</p>
        <h4>@{{ C13_C11 }}%</h4>
    </div>
    <div class="col">
        <p>Tổng doanh thu</p>
        <h4>@{{money total_revenue }}</h4>
    </div>
</script>