<script type="text/x-handlebars-template" id="amount-view-template">
    <div class="d-flex">
        <p>Total shipping: <b>@{{ shipping_total }}</b></p>
        <p class="ml-2">Total amount: <b>@{{ total_amount }}</b></p>
    </div>
</script>